.btn {
    align-items: center;
    border: none;
    color: white;
    flex: 1;
    font-size: 22px;
    margin-left: 3px;
    margin-bottom: 3px;
    min-width: 30px;
    outline: none;
}

.btn-design {
    background:rgb(53, 53, 53);
    border-radius: 12px;
    height: 50px;
    width: 50px;
}
